EWC_CHAIN_ID = 246
VOLTA_CHAIN_ID = 73799
EWC_URL = https://rpc.energyweb.org
VOLTA_URL = https://volta-rpc-vkn5r5zx4ke71f9hcu0c.energyweb.org/
ETHERSCAN_API_KEY = ABC123ABC123ABC123ABC123ABC123ABC1
DEPLOYER_PRIV_KEY = <YOUR EWC or VOLTA Account PRIVATE KEY>
ROPSTEN_URL = https://eth-ropsten.alchemyapi.io/v2/<YOUR ALCHEMY KEY>
TOKEN_NAME = 'Solar Token'
TOKEN_SYMBOL = 'SLT'
CONTRACT_ADDRESS = <Provide contract address once it is deployed >
EWC_CLAIM_MANAGER_ADDRESS = "0x23b026631A6f265d17CFee8aa6ced1B244f3920C"
VOLTA_CLAIM_MANAGER_ADDRESS = "0xC3dD7ED75779b33F5Cfb709E0aB02b71fbFA3210"

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Encoded serviceProvider role: email.roles.eea.apps.florin.engietestvolta.iam.ewc
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
SERVICE_ROLE = 0xc698f14ed8d60937e445046f6dea1406c03e7e0adce8d7a2a43a5ffaa35f7621

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Encoded patron role: email.roles.verification.apps.energyweb.iam.ewc
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
PATRON_ROLE = 0x7309fb6c9050c8da31473134bb210fe29586cbd6fe98004193a8b25d6689e29e
