EWC_CHAIN_ID = 246
 
VOLTA_CHAIN_ID = 73799

HARDHAT_NETWORK = 'volta'

EWC_URL = https://rpc.energyweb.org

VOLTA_URL = https://volta-rpc.energyweb.org

ETHERSCAN_API_KEY = ABC123ABC123ABC123ABC123ABC123ABC1

DEPLOYER_PRIV_KEY = <Private Key of the account which deploys the contract>

ROPSTEN_URL = https://eth-ropsten.alchemyapi.io/v2/<YOUR ALCHEMY KEY>

; email.roles.eea.apps.florin.engietestvolta.iam.ewc --> on dev env
; PATRON_ROLE = 0xc698f14ed8d60937e445046f6dea1406c03e7e0adce8d7a2a43a5ffaa35f7621

; Role Namespace: eeaapproved.roles.eea.apps.engie.auth.ewc --> on Production env
PATRON_ROLE = 0xac3d6e1fcd0ee5dd4a0a7c2405310bb9588579aeef902b5a4d070137d05033c4

;email.roles.verification.apps.energyweb.iam.ewc
SERVICE_ROLE = 0x7309fb6c9050c8da31473134bb210fe29586cbd6fe98004193a8b25d6689e29e

TOKEN_NAME = 'Solar Token'

TOKEN_SYMBOL = 'SLT'

CONTRACT_NAME = 'Staking'

CONTRACT_ADDRESS = <Change with the address of the deployed contract>

EWC_CLAIM_MANAGER_ADDRESS = "0x23b026631A6f265d17CFee8aa6ced1B244f3920C"
VOLTA_CLAIM_MANAGER_ADDRESS = "0x5339adE9332A604A1c957B9bC1C6eee0Bcf7a031"

;======================================================
; Smart Contract init Parameters: Update to set the desired dates/times - All dates are expressed in UTC
;======================================================

; Activate staking - 22/04/2022 at 20:00 UTC
SIGNUP_START = "2022-04-22T20:00"

; Close staking - 26/04/2022 at 07:00 UTC
SIGNUP_END = "2022-04-26T07:00"

; Lock stakes
START_DATE = "2022-04-26T07:20"

; Release rewards
END_DATE = "2022-04-26T10:00"

; Full Stop
FULL_STOP = "2022-04-26T15:00"

; 10000 EWT
HARDCAP = 10000000000000000000000

;MIN_REQUIRED_STAKE = 0.5 EWT
MIN_REQUIRED_STAKE = 500000000000000000

;CONTRIBUTION_LIMIT = 100 EWT
CONTRIBUTION_LIMIT = 100000000000000000000

REWARD_PROVIDER = <Address Which will provide rewards>