name: Deploy to bucket

on:
  push:
    branches: ['develop', 'master', 'release', 'ci/deployments']
jobs:
  cancel-previous:
    name: 'Cancel Previous Runs'
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: styfle/cancel-workflow-action@0.8.0
        with:
          access_token: ${{ github.token }}
  deploy:
    needs: [cancel-previous]
    runs-on: ubuntu-latest
    env: # @TODO - Refactor env if repo is public
        MODE: CI
    steps:
      - name: Get GHA environment name
        id: env_vars # @TODO - consider production deployments?
        run: |
          echo "Running on branch ${{ github.ref }}"
          if [ "${{ github.ref }}" = "refs/heads/develop" ]; then
            echo "::set-output name=aws_access_key_id::${{ secrets.DEV_AWS_ACCESS_KEY_ID }}"
            echo "::set-output name=aws_secret_key::${{ secrets.DEV_AWS_SECRET_ACCESS_KEY }}"
            echo "::set-output name=aws_region::${{ secrets.AWS_REGION }}"
            echo "::set-output name=bucket_name::${{ secrets.DEV_BUCKET_NAME }}"
            echo "::set-output name=cloudfront_id::${{ secrets.DEV_CLOUDFRONT_ID }}"
            echo "::set-output name=next_public_ui_base_url::https://esc-dev.energyweb.org"
            echo "::set-output name=next_public_chain_id::73799"
            echo "::set-output name=next_public_rpc_url::https://volta-rpc-vkn5r5zx4ke71f9hcu0c.energyweb.org/"
            echo "::set-output name=next_public_cache_server::https://identitycache-dev.energyweb.org/v1"
            echo "::set-output name=next_public_org_namespace::iam.ewc"
            echo "::set-output name=next_public_network_name::EnergyWeb Volta Chain"
            echo "::set-output name=next_public_currency_name::Volta Token"
            echo "::set-output name=next_public_currency_symbol::VT"
            echo "::set-output name=next_public_patron_role::email.roles.eea.apps.florin.engietestvolta.iam.ewc"
            echo "::set-output name=next_public_patron_role_version::1"
            echo "::set-output name=next_public_token_limit::10"
            echo "::set-output name=next_public_global_token_limit::100"
            echo "::set-output name=next_public_interest_rate::10%"
            echo "::set-output name=next_public_block_explorer_url::https://volta-explorer.energyweb.org"
            echo "::set-output name=next_public_activate_staking_date::2022-04-27T08:10"
            echo "::set-output name=next_public_close_staking_date::2022-04-27T08:15"
            echo "::set-output name=next_public_lock_stakes_date::2022-04-27T08:20"
            echo "::set-output name=next_public_release_rewards_date::2022-04-27T08:30"
            echo "::set-output name=next_public_full_stop_date::2022-04-27T08:40"
          elif [ "${{ github.ref }}" = "refs/heads/master" ]; then
            echo "::set-output name=aws_access_key_id::${{ secrets.PROD_AWS_ACCESS_KEY_ID }}"
            echo "::set-output name=aws_secret_key::${{ secrets.PROD_AWS_SECRET_ACCESS_KEY }}"
            echo "::set-output name=aws_region::${{ secrets.AWS_REGION }}"
            echo "::set-output name=bucket_name::${{ secrets.PROD_BUCKET_NAME }}"
            echo "::set-output name=cloudfront_id::${{ secrets.PROD_CLOUDFRONT_ID }}"
            echo "::set-output name=next_public_ui_base_url::https://esc.energyweb.org"
            echo "::set-output name=next_public_chain_id::246"
            echo "::set-output name=next_public_rpc_url::https://rpc.energyweb.org"
            echo "::set-output name=next_public_cache_server::https://identitycache.energyweb.org/v1"
            echo "::set-output name=next_public_org_namespace::iam.ewc"
            echo "::set-output name=next_public_network_name::EWC"
            echo "::set-output name=next_public_currency_name::EWT"
            echo "::set-output name=next_public_currency_symbol::EWC"
            echo "::set-output name=next_public_patron_role::eeaapproved.roles.eea.apps.engie.auth.ewc"
            echo "::set-output name=next_public_patron_role_version::1"
            echo "::set-output name=next_public_token_limit::5"
            echo "::set-output name=next_public_global_token_limit::10"
            echo "::set-output name=next_public_interest_rate::10%"
            echo "::set-output name=next_public_block_explorer_url::https://explorer.energyweb.org"
            echo "::set-output name=next_public_activate_staking_date::2022-04-26T15:50"
            echo "::set-output name=next_public_close_staking_date::2022-04-26T16:10"
            echo "::set-output name=next_public_lock_stakes_date::2022-04-26T16:15"
            echo "::set-output name=next_public_release_rewards_date::2022-04-26T16:25"
            echo "::set-output name=next_public_full_stop_date::2022-04-26T17:00"
          else
            echo "Branch ${{ github.ref }} is not configured for deployment"
            exit 1
          fi
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2-beta
        with:
          node-version: 14.x
          registry-url: https://registry.npmjs.org/
      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-node-
            ${{ runner.os }}-
      - name: Install npm packages
        run: |
          npm install
      - name: Build branch
        run: npm run build:fe
        env:
          NEXT_PUBLIC_UI_BASE_URL: ${{ steps.env_vars.outputs.next_public_ui_base_url }}
          NEXT_PUBLIC_CHAIN_ID: ${{ steps.env_vars.outputs.next_public_chain_id }}
          NEXT_PUBLIC_RPC_URL: ${{ steps.env_vars.outputs.next_public_rpc_url }}
          NEXT_PUBLIC_CACHE_SERVER: ${{ steps.env_vars.outputs.next_public_cache_server }}
          NEXT_PUBLIC_ORG_NAMESPACE: ${{ steps.env_vars.outputs.next_public_org_namespace }}
          NEXT_PUBLIC_NETWORK_NAME: ${{ steps.env_vars.outputs.next_public_network_name }}
          NEXT_PUBLIC_CURRENCY_NAME: ${{ steps.env_vars.outputs.next_public_currency_name }}
          NEXT_PUBLIC_CURRENCY_SYMBOL: ${{ steps.env_vars.outputs.next_public_currency_symbol }}
          NEXT_PUBLIC_PATRON_ROLE: ${{ steps.env_vars.outputs.next_public_patron_role }}
          NEXT_PUBLIC_PATRON_ROLE_VERSION: ${{ steps.env_vars.outputs.next_public_patron_role_version }}
          NEXT_PUBLIC_TOKEN_LIMIT: ${{ steps.env_vars.outputs.next_public_token_limit }}
          NEXT_PUBLIC_GLOBAL_TOKEN_LIMIT: ${{ steps.env_vars.outputs.next_public_global_token_limit }}
          NEXT_PUBLIC_INTEREST_RATE: ${{ steps.env_vars.outputs.next_public_interest_rate }}
          NEXT_PUBLIC_BLOCK_EXPLORER_URL: ${{ steps.env_vars.outputs.next_public_block_explorer_url }}
          NEXT_PUBLIC_ACTIVATE_STAKING_DATE: ${{ steps.env_vars.outputs.next_public_activate_staking_date }}
          NEXT_PUBLIC_CLOSE_STAKING_DATE: ${{ steps.env_vars.outputs.next_public_close_staking_date }}
          NEXT_PUBLIC_LOCK_STAKES_DATE: ${{ steps.env_vars.outputs.next_public_lock_stakes_date }}
          NEXT_PUBLIC_RELEASE_REWARDS_DATE: ${{ steps.env_vars.outputs.next_public_release_rewards_date }}
          NEXT_PUBLIC_FULL_STOP_DATE: ${{ steps.env_vars.outputs.next_public_full_stop_date }}
      - name: Ensure dist is present
        run: |
          test -d "dist/apps/ew-crowdfunding/exported" && echo OK || exit 1
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ steps.env_vars.outputs.aws_access_key_id }}
          aws-secret-access-key: ${{ steps.env_vars.outputs.aws_secret_key }}
          aws-region: ${{ steps.env_vars.outputs.aws_region }}
      - name: Clear bucket
        run: |
          aws s3 rm s3://${{ steps.env_vars.outputs.bucket_name }} --recursive
      - name: Upload to bucket
        run: |
          aws s3 cp dist/apps/ew-crowdfunding/exported s3://${{ steps.env_vars.outputs.bucket_name }} --recursive
      - name: Invalidate CloudFront # cloudfront caches s3 content so after each deployment, it needs to be cleared.
        run: |
          aws cloudfront create-invalidation --distribution-id ${{ steps.env_vars.outputs.cloudfront_id }} --paths "/*"
